{% extends "layout.html" %}
{% block content %}
<div>
    <h1>Discussion avec {{ receiver_name[0] }}</h1>
    <div class="messages">
        {% for message in messages %}
            <div class="message">
                <strong>{{ message[2] }}:</strong> {{ message[0] }} <em>({{ message[1] }})</em>
            </div>
        {% endfor %}
    </div>
    
    <form action="{{ url_for('send_message', receiver_id=receiver_id) }}" method="POST">
        <textarea name="message" placeholder="Votre message..." required></textarea><br>
        <button type="submit">Envoyer</button>
    </form>
    
</div>
{% endblock %}