{% extends "layout.html" %}

{% block content %}
<div>
    <h1>Discussions</h1>
    <section>
        <h2>Conversations existantes</h2>
        {% if list_receivers %}
            <ul>
                {% for receiver in list_receivers %}
                    <li><a href="{{ url_for('discussion', receiver_id=receiver[0]) }}">{{ receiver[1] }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucune conversation existante.</p>
        {% endif %}
    </section>

    <section>
        <h2>Commencer une nouvelle conversation</h2>
        {% if possible_receivers %}
        <form method="POST" action="{{ url_for('discussions') }}">
            <label for="receiver_id">Choisissez un destinataire :</label>
            <select name="receiver_id" id="receiver_id" required>
                <option value="">-- Sélectionnez un destinataire --</option>
                {% for receiver in possible_receivers %}
                    <option value="{{ receiver[0] }}">{{ receiver[1] }}</option>
                {% endfor %}
            </select>
            message<textarea name="message" placeholder="Votre message..." required></textarea><br>
            <button type="submit">Commencer la conversation</button>
            
        </form>
        {% else %}
            <p>Aucun autre utilisateur trouvé.</p>
        {% endif %}
    </section>
</div>
{% endblock %}