{% extends "layout.html" %} {% block content %}
<div>
  <div>
    <div>
        <h3>Inscription</h3>
        <form method="post">
          <div>
            <label>Pseudo</label>
            <input type="text" name="pseudo" required />
          </div>
          <div>
            <label>Email</label>
            <input type="email" name="email" required />
          </div>
          <div>
            <label>Mot de passe</label>
            <input type="password" name="password" required />
          </div>
          <div>
            <label>date de naissance</label>
            <input type="date" name="date_naissance" required />
          </div>
          <div>
            <button type="submit">S'inscrire</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
